#desktop-view-details{
    margin-top:100px;
}
#mobile-view-details{
    margin-top:100px;
    display:none;
}

.result-header, .result-text{
    color:white!important;
    border-bottom:none!important;
    white-space: nowrap;
    float: center;
    width:300px;
    font-size: 18px;
}

.details-table{
    width: 75%!important;
}

.error-message{
    color:white;
}

@media only screen and (max-width: 465px) {
    #desktop-view-details{
        display:none;
    }
    #mobile-view-details{
        display:block;
    }
}

@media only screen and (max-width: 310px) {
    #desktop-view-details{
        display:none;
    }
    #mobile-view-details{
        display:block;
        margin-left: 60px;
    }
}
